name: finai
x-base-service: &bs
  logging:
    driver: "json-file"
    options:
      max-size: 10m
      max-file: 3
services:
  aktools:
    <<: *bs
    image: kkqy/aktools:latest
    container_name: finai-aktools
    pull_policy: always
    restart: always
    expose:
      - 8080
    networks:
      net:
        aliases:
          - aktools
    environment:
      TZ: Asia/Shanghai
  postgres:
    <<: *bs
    image: postgres:18-alpine
    container_name: finai-postgres
    pull_policy: always
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      TZ: Asia/Shanghai
      POSTGRES_DB: finai
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      net:
        aliases:
          - postgres
  redis:
    <<: *bs
    image: redis:8-alpine
    container_name: finai-redis
    pull_policy: always
    restart: always
    volumes:
      - redis-data:/data
    networks:
      net:
        aliases:
          - redis
    environment:
      TZ: Asia/Shanghai
  migrate:
    <<: *bs
    image: ${DOCKER_REGISTRY}migrate:${TAG}
    container_name: finai-migrate
    build:
      context: .
      dockerfile: migrate.Dockerfile
    pull_policy: always
    restart: "no"
    environment:
      TZ: Asia/Shanghai
      DATABASE_URL: "postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/finai"
    depends_on:
      - postgres
    networks:
      net:
  nuxt:
    <<: *bs
    image: ${DOCKER_REGISTRY}nuxt:${TAG}
    container_name: finai-nuxt
    build: .
    pull_policy: always
    restart: always
    environment:
      TZ: Asia/Shanghai
      DATABASE_URL: "postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/finai"
      REDIS_URL: "redis://redis:6379"
      AKTOOLS_URL: "http://aktools:8080"
      ZAI_API_KEY: ${ZAI_API_KEY}
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      migrate:
        condition: service_completed_successfully
    networks:
      net:
      outside:
        aliases:
          - finai-nuxt
volumes:
  redis-data:
  postgres-data:
networks:
  net:
  outside:
    name: ${NETWORK_NAME}
    external: true
